/* Esercizio 1 */
.ex-1-square {
    transition: 3s;
}
.ex-1-square:hover {
    background-color: red;
}

/* Esercizio 2 */
.ex-2-square {
    transition: 3s;
}
.ex-2-square:active {
    transform: scale(5, 3);
}
